:root {
  font-size: 12px;

  /* Variables */
  --primary-white: #fff;
  --primary-black: #000;
  --primary-gray: #ababab;
  --primary-blue: #2263a7;

  --primary-background: #0b0b0d;

  --ff-primary: 'Inter', sans-serif;
  --ff-accent: 'Playfair Display', serif;

  --ff-body: var(--ff-primary);
  --ff-heading: var(--ff-accent);

  --fw-regular: 400;
  --fw-medium: 500;
  --fw-bold: 700;

  --fs-400: 0.825rem;
  --fs-500: 1rem;
  --fs-600: 1.25rem;
  --fs-700: 2rem;
  --fs-900: 3rem;

  @media (min-width: 640px) {
    font-size: 16px;

    --fs-400: 1rem;
    --fs-500: 1.25rem;
    --fs-600: 1.5rem;
    --fs-700: 2.5rem;
    --fs-900: 4rem;
  }

  --fs-body: var(--fs-400);
  --fs-nav: var(--fs-500);
  --fs-subheading: var(--fs-600);
  --fs-heading: var(--fs-700);
  --fs-bigheading: var(--fs-900);
}

/* Utility Classes */
.text-white {
  color: var(--primary-white);
}

.text-dark {
  color: var(--primary-gray);
}

.text-accent {
  color: var(--primary-blue);
}

.ff-body {
  font-family: var(--ff-body);
}

.ff-heading {
  font-family: var(--ff-heading);
}

.fs-caption {
  font-size: var(--fs-caption);
}

.fs-body {
  font-size: var(--fs-body);
}

.fs-nav {
  font-size: var(--fs-nav);
}

.fs-subheading {
  font-size: var(--fs-subheading);
}

.fs-heading {
  font-size: var(--fs-heading);
}

.fs-bigheading {
  font-size: var(--fs-bigheading);
}

.fw-regular {
  font-weight: var(--fw-regular);
}

.fw-medium {
  font-weight: var(--fw-medium);
}

.fw-bold {
  font-weight: var(--fw-bold);
}

/* HTML */
html {
  scrollbar-width: none;
}

/* Body */
body {
  font-family: var(--ff-body);
  font-size: var(--fs-body);
  font-weight: var(--fw-regular);
  color: var(--primary-white);
  background-color: var(--primary-background);
  overflow-y: hidden;
}

/* Main */
main {
  scroll-snap-type: mandatory;
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  height: 100%;
}

/* Sections */
section {
  padding: 4em;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  scroll-snap-align: start;
  scroll-snap-stop: always;
}

/* Anchor Tags */
a {
  color: var(--primary-blue);
  text-decoration: none;
}
