---
import Head from '../components/Head.astro';
import Navigation from '../components/Navigation.astro';
import Landing from '../components/Landing.astro';
import Skills from '../components/Skills.astro';
import Work from '../components/Work.astro';
import Contact from '../components/Contact.astro';
---

<!DOCTYPE html>
<html lang='en'>
  <Head />
  <body>
    <Navigation />
    <main>
      <Landing />
      <Skills />
      <Work />
      <Contact />
    </main>
  </body>
</html>
