---
import data from '../data/site.json';
import SkillIcon from './SkillIcon.astro';

const { socials, resume } = data;
---

<section id='contact'>
  <h2 class='ff-heading fs-heading fw-bold text-accent'>Let's Get In Touch</h2>

  <div class='container'>
    <div class='contact'>
      <h3 class='fs-subheading fw-medium'>Check out my resume</h3>
      <a href={resume} target='_blank'><button class='text-white'>Download</button></a>
    </div>
    <div class='contact'>
      <h3 class='fs-subheading fw-medium'>Find me on social media</h3>
      <ul role='list' class='socials-list'>
        <>
          {
            socials.map((social) => (
              <li>
                <a href={social.link}>
                  <SkillIcon
                    icon={social.icon}
                    colored='true'
                    size='3'
                    fontColor={`${social.icon === 'github' || social.icon === 'twitter' ? 'white' : ''}`}
                  />
                </a>
              </li>
            ))
          }
        </>
      </ul>
    </div>
  </div>

  <style lang='scss'>
    #contact {
      text-align: center;

      h2 {
        margin-bottom: 1em;
        text-align: center;
      }

      .container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-items: center;
        gap: 4em;

        h3 {
          margin-bottom: 1em;
        }

        button {
          padding: 1em 3em;
          background-color: var(--primary-blue);
          border: none;
          border-radius: 8px;
          cursor: pointer;
          transition: all 0.2s ease;

          &:hover,
          &:focus,
          &:active {
            transform: scale(1.15);
          }
        }

        .socials-list {
          display: flex;
          flex-direction: row;
          justify-content: space-evenly;
          align-items: center;
          gap: 2em;

          li {
            transition: all 0.2s ease;

            &:hover,
            &:focus,
            &:active {
              transform: scale(1.15);
            }
          }
        }
      }
    }
  </style>
</section>
