---
---

<section id='landing'>
  <div class='container'>
    <h1 class='ff-heading fs-bigheading'>Richard Rapstine</h1>
    <p class='text-white fs-subheading'>
      <span class='text-dark'>Father. Adventurer.</span> Developer.
    </p>
  </div>
</section>

<style lang='scss'>
  #landing {
    height: 100vh;
    background-image: radial-gradient(circle, rgba(0, 0, 0, 0.7) 80%, rgb(0, 0, 0) 100%),
      url(/assets/images/landing-image.webp);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    .container {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }
</style>
