---
// TODO: Write javascript to add active class to nav item on scroll
import data from '../data/site.json';

const { nav } = data;
---

<nav class='nav-container'>
  <ul class='nav-list' role='list'>
    <>
      {
        nav.map((link) => (
          <li class='nav-item'>
            <a href={link.link} class='text-dark fs-nav fw-medium'>
              {link.name}
            </a>
          </li>
        ))
      }
    </>
  </ul>
</nav>

<style lang='scss'>
  .nav-container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
  }

  .nav-list {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: clamp(1em, 4em, 4em);
    max-width: 800px;
    margin: 0 auto;
  }

  .nav-item {
    padding-top: 3em;

    a {
      text-decoration: none;

      &.active,
      &:hover,
      &:focus,
      &:active {
        color: var(--primary-white);
      }
    }
  }
</style>
