---
import data from '../data/site.json';

const { nav } = data;
---

<nav class='nav-container'>
  <ul class='nav-list' role='list'>
    <>
      {
        nav.map((link) => (
          <li
            class={`nav-item ${link.name === 'Landing' ? 'active' : ''}`}
            data-link={link.name.toLowerCase()}>
            <a href={link.link} class='text-dark fs-nav fw-medium'>
              {link.name}
            </a>
          </li>
        ))
      }
    </>
  </ul>
</nav>

<script>
  (() => {
    const sections = document.querySelectorAll('section') as NodeListOf<HTMLElement>;
    const navItems = [...document.querySelectorAll('.nav-item')] as HTMLElement[];
    console.log('navItems', navItems);

    const options = {
      threshold: 0,
      rootMargin: '-25%',
    };

    const observer = new IntersectionObserver((entries) => {
      entries.forEach((entry) => {
        if (!entry.isIntersecting) return;

        const id = entry.target.getAttribute('id');
        const nav = navItems.find((el) => el.dataset.link === id);

        navItems.forEach((item) => {
          item.classList.remove('active');

          if (item.dataset.link === id) {
            item.classList.add('active');
          }
        });
      });
    }, options);

    sections.forEach((section) => {
      observer.observe(section);
    });
  })();
</script>

<style lang='scss'>
  .nav-container {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    display: flex; // Centers the content
    width: clamp(4em, 10vw, 6em);
  }

  .nav-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
  }

  .nav-item {
    visibility: hidden;
    position: relative;
    width: 100%;

    &.active:after,
    &:hover:after,
    &:focus:after,
    &:active:after {
      background-color: var(--primary-white);
      width: 1.25em;
      height: 1.25em;
    }

    &:after {
      content: '';
      visibility: visible;
      position: absolute;
      top: 0;
      right: 50%;
      bottom: 0;
      transform: translateX(50%) translateY(50%);
      width: 1em;
      height: 1em;
      background-color: var(--primary-gray);
      border-radius: 50%;
      transition: all 0.25s ease;
    }

    a {
      text-decoration: none;

      &.active,
      &:hover,
      &:focus,
      &:active {
        color: var(--primary-white);
      }
    }
  }
</style>
