---
import data from '../data/site.json';

const { nav } = data;
---

<nav class='nav-container'>
  <ul class='nav-list' role='list'>
    <>
      {
        nav.map((link) => (
          <li class='nav-item'>
            <a href={link.link} class='text-dark fs-nav fw-medium'>
              {link.name}
            </a>
          </li>
        ))
      }
    </>
  </ul>
</nav>

<script>
  // Add active class to nav item on scroll
  (() => {
    const nav = document.querySelector('nav') as HTMLElement;
    const sections = document.querySelectorAll('section') as NodeListOf<HTMLElement>;

    const options = {
      rootMargin: `${nav.offsetHeight * -1}px`,
      threshold: 0.425,
    };

    const observer = new IntersectionObserver(navCheck, options);

    function navCheck(entries: IntersectionObserverEntry[]) {
      entries.forEach((entry) => {
        const section = entry.target.id;
        const navLink = document.querySelector(`nav a[href="#${section}"]`) as HTMLElement;

        if (!navLink) return;

        if (entry.isIntersecting) {
          navLink.classList.add('active');
        } else {
          navLink.classList.remove('active');
        }
      });
    }

    sections.forEach((section) => {
      observer.observe(section);
    });
  })();

  // Change background color of nav on scroll
  (() => {
    const nav = document.querySelector('nav') as HTMLElement;
    const landing = document.querySelector('#landing') as HTMLElement;

    window.addEventListener('scroll', () => {
      if (window.scrollY > landing.offsetHeight - nav.offsetHeight) {
        nav.classList.add('background');
      } else {
        nav.classList.remove('background');
      }
    });
  })();
</script>

<style lang='scss'>
  .background {
    background-color: var(--primary-background);
    transition: all 0.3s ease;
  }

  .nav-container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
  }

  .nav-list {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: clamp(1em, 4em, 4em);
    max-width: 800px;
    margin: 0 auto;
  }

  .nav-item {
    padding: 3em 0;

    a {
      text-decoration: none;

      &.active,
      &:hover,
      &:focus,
      &:active {
        color: var(--primary-white);
      }
    }
  }
</style>
