---
import SkillIcon from './SkillIcon.astro';

interface Props {
  skill: {
    name: string;
    icon: string;
    colored: boolean;
  };
}

const { skill } = Astro.props;
---

<li class='skill-item'>
  <SkillIcon icon={skill.icon} colored={skill.colored} size='3' />
  <span>{skill.name}</span>
</li>

<style lang='scss'>
  .skill-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1em 0;
  }
</style>
