---
import data from '../data/site.json';
import WorkItem from './WorkItem.astro';

const { work } = data;
---

<section id='work'>
  <h2 class='fs-heading ff-heading fw-bold text-accent'>My Work</h2>

  <div class='container'>
    <ul role='list' class='work-list'>
      <>
        {work.map((item) => <WorkItem item={item} />)}
      </>
    </ul>
  </div>

  <p class='caption'>
    My <a href='https://github.com/rrapstine' class='fs-caption'
      ><i class='devicon-github-plain'></i>
    </a> has other things I've worked on too.
  </p>
</section>

<style lang='scss'>
  // Set the maximum number of columns here
  $maxColumns: 3;

  #work {
    h2 {
      text-align: center;
      margin-bottom: 1em;
    }
    .work-list {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      gap: 4em;
      margin-bottom: 2em;
    }

    .caption {
      text-align: center;
      color: var(--primary-gray);

      i {
        font-size: 1.5rem;
        color: var(--primary-white);
      }
    }
  }
</style>
